# the name of the project
PROJECT_ID="project-name"

# The default region, use ./scripts/prepare/printRegions.sh
DEFAULT_REGION="europe-west1"

# The required billing account that needs to be linked to the project
# You can print all accounts with ./scripts/prepare/printBillingAccounts.sh and enter the correct one here
BILLING_ACCOUNT_ID="123456-654321-1234B1"

# The installation id of the Google Cloud Build app. You find here https://github.com/settings/installations
GITHUB_APP_ID=12345678

## GitHub repository (update accordingly)

# The name of the GitHub Repo that contains the Dockerfile
GITHUB_REPO_NAME=repository_name

# The uri of the GitHub Repo that contains the Dockerfile
GITHUB_REPO_URI=https://github.com/org_user/repository_name.git

# The name to be used for the Google Cloud to GitHub connection
GC_GH_CONNECTION_NAME=connection_repository_name

## Presets: no need to change

# Service account name
SERVICE_ACCOUNT_NAME="cloudbuild-sa"

## Project related environment properties, adjust if known

# Mark as unknown if not known, was: https://api.open-collab.tools
OCT_BASE_URL="unknown"

# Mark as unknown if not known
OCT_SERVER_OWNER="unknown"

# default is true
OCT_ACTIVATE_SIMPLE_LOGIN="true"

# Mark as unknown if not known, was: https://www.open-collab.tools/login
OCT_LOGIN_PAGE_URL="unknown"

# Mark as unknown if not known, was: https://www.open-collab.tools/login-success
OCT_LOGIN_SUCCESS_URL="unknown"

# Mark as unknown if not known
OCT_REDIRECT_URL_WHITELIST="unknown"
